.aboutInfo-enter {
    height: 15vh;
    /* transform: scale(0.9); */
    position: relative;
    z-index: 2;
    overflow: hidden;
  }

  .aboutInfo-enter-active {
    height: 125vh;
    transform: translateX(0);
    transition: height 1s ease, transform 1s ease;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }

  .aboutInfo-exit {
    height: 125vh;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }

  .aboutInfo-exit-active {
    height: 15vh;
    transform: translateX(0);
    transition: height 1s, transform 1s;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }
  