.wholeScroll {
    width: 100%;
    height: 100vh;
}

#flyballVidBG video {
    position: fixed; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0;
    align-items: center;    
    top: 0;

    transition: transform 1s; /* Animation */
}

#flyballVidBG video:hover {
    transform: scale(.8); 
 }

#titleName {
    color: white;
    padding-left: 11vw;
    top: 15vh;
    margin: 0;
    text-align: left;
    position: fixed;
    z-index: 2;
}

#titleName h1 {
    font-size: 7vh;
    line-height: 40px;
    text-shadow: -1px -1px black;
}

#titleName h3 {
    font-size: 3vh;
    line-height: 25px;
    padding-right: 50%;
    text-shadow: -1px -1px black;
}

    #blackTop {
        background-color: black;
        position: fixed;
        top: 0;
        width: 100%;
        height: 0px;
        z-index: 2;
    }

    #blackLeft {
        background-color: black;
        position: fixed;
        top: 50%;
        left: 0;
        width: 0%;
        height: 100vh;
        z-index: 2;
    }

    #blackRight {
        background-color: black;
        position: fixed;
        top: 50%;
        right: 0;
        width: 0%;
        height: 100vh;
        z-index: 2;
    }



















#picSection {
    position: relative;
    z-index: 2;
    background-color: salmon;
}

#aboutUsSection {
     position: relative;
    z-index: 2;    
    background-color: lightblue;
}

#additionalInfoSection {
    position: relative;
    z-index: 2;    
    background-color: olive;
}

#contactInfoSection {
    position: relative;
    z-index: 2;    
    background-color: teal;
}